{%- if inP12Store is defined -%}
  {# this reset the working block #}
  {%- set storeDetails= {"filename": inP12Store.path | basename }  -%} 
  {%- set filenameNoExt = (storeDetails.filename | splitext)[:-1][0] -%}
  {%- set passwordfile = inP12Store.path | dirname + '/' + filenameNoExt + '.pwd' -%}
  {%- set password = { "file":passwordfile, "exists":false, "secret":"" } -%}
  {%- set _dummy=storeDetails.update( {"filenameNoExt": filenameNoExt }) -%}
  {%- set _dummy=storeDetails.update( {"file": inP12Store }) -%}
  {%- set _dummy=storeDetails.update( {"password":password })-%}
  {%- set certdetails = {"fingerprint":"","modules":"", "SAN":[],"SAN_HOST":false } -%}
  {%- set p12Store = { "storeDetails":storeDetails,"certdetails":certdetails } -%}
  {%- set _dummy=inArray.P12.update( {"working":p12Store } )-%}
{%- endif -%}
{%- set storeDetails=inArray.P12.working.storeDetails -%}
{%- set certdetails=inArray.P12.working.certdetails -%}
{%- if inPasswordFileExists is defined -%}
  {%- set _dummy= storeDetails.password.update({ "exists":inPasswordFileExists })-%}
{%- endif -%}
{%- if inCertSecret is defined -%}
  {%- set _dummy= storeDetails.password.update({ "secret":inCertSecret|b64decode })-%}
{%- endif-%}
{%- if inModulus is defined -%}
  {%- set _dummy= certdetails.update({ "modules":inModulus[0] })-%}
{%- endif -%}
{%- if inFingerprint is defined -%}
  {%- set _dummy= certdetails.update({ "fingerprint":inFingerprint[0] }) -%}
{%- endif -%}
{%- if inSANBlock is defined -%}
   {%- set SANFields = [] -%}
   {%- for line in inSANBlock -%}
    {%- set strline=line.strip() -%}
    {%- if strline.startswith('DNS') -%}
      {%- for SAN in strline.split(',') -%}
        {%- set SANField = SAN.split(':')[1].strip()-%}
        {%- if SANField.startswith( inventory_hostname_short ) -%}
          {%- set _dummy= certdetails.update({ "SAN_HOST":true }) -%}
        {%- endif -%}
        {%- set _dummy=SANFields.append(SANField) -%}
      {%- endfor -%}
    {%- endif -%}
  {%- endfor -%}
  {%- set _dummy= certdetails.update({ "SAN":SANFields }) -%}
{%- endif -%}
{%- set p12Store = { "storeDetails":storeDetails,"certdetails":certdetails } -%}
{%- if inClearWorking is defined and 
       inClearWorking -%}
  {%- set _dummy=inArray.P12.update( {"working":{} } )-%}
{%- else -%}
  {%- set _dummy=inArray.P12.update( {"working":p12Store } )-%}
{%- endif -%}  
{%- if storeDetails.password.exists -%}
  {%- set _dummy= inArray.P12.Stores.update({ storeDetails.filenameNoExt:p12Store }) -%}
{%- endif -%}  
{{ inArray }}

